<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
        <httpCompression>
            <dynamicTypes>
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/json; charset=utf-8" enabled="true" />
                <add mimeType="image/x-icon" enabled="true" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="image/x-icon" enabled="true" />
            </staticTypes>
        </httpCompression>
    </system.webServer>
</configuration>
