:root {
  --violet: 102, 45, 140;
  --rose: 237, 30, 121;
}

/* Default font size for all elements */
body {
  font-size: 16px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Adjust font sizes for smaller screens */
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}

/* Media query for larger screens */
@media (min-width: 1200px) {
  /* Adjust font sizes for larger screens */
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  margin: 0;
  color: #fff;
  font-family: cursive;
}
#dark-background {
  background-color: #000;
}
#gradient {
  background: #662d8c;
  background: linear-gradient(
    45deg,
    rgba(var(--violet), 0.5) 0,
    rgba(var(--rose), 0.5) 100%
  );
  height: 100%;
  text-align: center;
}
a {
  text-decoration: none;
}
button > a:active {
  color: black;
}
button > a {
  color: black;
}
li {
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-links {
  display: flex;
  vertical-align: middle;
}
.nav-links a {
  color: #fff;
}
.logo {
  font-size: 32px;
}
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}
.services {
  position: relative;
}
.dropdown {
  background-color: #018b8b;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
}
.dropdown li + li {
  margin-top: 10px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
  background-color: #4c9e9e;
}
.services:hover .dropdown {
  display: block;
}
input[type="checkbox"] {
  display: none;
}
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
}
li::before {
  margin-left: auto;
}
li::after,
li::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #662d8c;
  display: block;
  transition: 0.5s;
}
li:hover::after,
li:hover::before {
  width: 100%;
}
header {
  height: 100vh;
}
#header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.face-img {
  width: 250;
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  color: black;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.50;
  width: 100%;
}

main {
  margin: 0 3em;
}

main > .row {
  justify-content: space-between;
}

/* CSS code */
.info {
  display: flex;
  align-items: center;
}

.info strong {
  margin-right: 3em; /* Adjust the spacing as per your preference */
}

.about-info {
  width: 100%;
}

.about-info > .row {
  width: 100%;
}

.size50{
  width: 50%;
  text-align: initial;
  margin: auto;
}


@media (max-width: 768px) {
  main >.row {
    flex-direction: column;
  }
}
