*, html, body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 2vmin;
	line-height: 1.3em;
}
body {
	background-color: rgb(250, 250, 250);
}

.dark-mode {
	background-color: black;
	color: white;
  }

